minio/
postgres_data/
cvat/
cvat_share/

**.env
__pycache__/
*.pyc
*.pyo
*.so
.DS_Store
.vscode/
.idea/
data/
datasets/
output/
*.npy
*.mp4
/openpilot/
data/
**/.pytest_cache/

!openpilot_service/lib/openpilot/
!shared/minio/
